// 缩小按钮
.butn {
  padding: 5px 11px;
}

.table-td-p td {
  padding: 6px 0;
  vertical-align: middle;
}

.table-vm td {
  vertical-align: middle;
}

.addUser-table tr {
  height: 50px;
}

.ipt {
  width: auto;
}

.state {
  padding: 4px;
  color: #28a745;
  font-size: 12px;
}
