<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="email=no" />
  <title>没有相关数据</title>
  <link href="https://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../styles/base.css">
  <link rel="stylesheet" href="../../styles/menu.css">
</head>

<body>
  <div class="container-fluid pl30 pr30">
    <div class="row">
      <table class="table table-bordered tc f14 g6">
        <thead>
          <tr>
            <th class="w100">序号</th>
            <th class="pct30">名称</th>
            <th>资源路径</th>
            <th class="w100">状态</th>
            <th class="pct15">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="6">没有相关数据</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- 后退按钮 -->
    <div class="row">
      <button class="btn butn btn-outline-secondary return f14">返回</button>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.13.0/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="/scripts/main.js"></script>

</body>

</html>
