<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="email=no" />
  <title>系统用户</title>
  <link href="https://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../styles/base.css">
  <link rel="stylesheet" href="../../styles/user.css">
</head>

<body>
  <div class="container-fluid pl30 pr30">
    <!-- 搜索 -->
    <div class="row mt10">
      <div class="input-group w190">
        <input type="text" class="form-control w-50 f14" placeholder="请输入关键字" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <button type="button" class="btn butn btn-primary ml20 poi">
        <i class="ion-search"></i>
      </button>
    </div>
    <div class="row mt15">
      <table class="table table-hover table-bordered tc table-td-p f14 g6">
        <thead>
          <tr>
            <th>
              <input class="checkbox-select-all" id="checkbox-parent" name="" type="checkbox">
            </th>
            <th>序号</th>
            <th>编号</th>
            <th>用户名</th>
            <th>姓名</th>
            <th>角色</th>
            <th>邮箱</th>
            <th>最近登录</th>
            <th>上次登录</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input class="checkbox-select" type="checkbox">
            </td>
            <td class="order">1</td>
            <td class="num">admin2</td>
            <td>
              <button type="button" class="btn btn-link useName poi">admin2</button>
            </td>
            <td class="fullName">admin2</td>
            <td class="role">后台管理员</td>
            <td class="email">123456@qq.com</td>
            <td>2017-12-15 09:43:31</td>
            <td>192.168.2.123</td>
            <td>
              <button type="button" class="btn butn btn-primary edit poi">
                <i class="ion-android-create "></i>
              </button>
              <button type="button" class="btn butn btn-danger delete poi">
                <i class="ion-trash-a "></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <!-- 新增，全部删除 -->
      <div class="w-50">
        <button type="button" class="btn btn-success mr20 poi addUser">新增</button>
        <button type="button" class="btn btn-danger poi deleteAll">
          <i class="ion-trash-a"></i>
        </button>
      </div>
      <!-- 分页 -->
      <div class="w-50 ">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item">
              <a class="page-link" href="#" disabled>上一页</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">下一页</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.13.0/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="/scripts/main.js"></script>

  <script>
    // 全选按钮
    $(".selectAll").click(function () {
      $("[type=checkbox]").prop("checked", $(this).prop("checked"))
    })
    //新增
    $(".addUser").on("click", function () {
      $(this).blur();
      layer.open({
        type: 1,
        resize: false,
        fixed: false,
        maxmin: true,
        title: '新增',
        area: ['700px', '390px'], //宽高
        content: `<table class="table table-vm g6">
    <thead></thead>
    <tbody>
      <tr>
        <td class="tr">角色：</td>
        <td>
          <select class="custom-select pct100">
            <option selected>请选择角色</option>
            <option value="后台管理员">后台管理员</option>
          </select>
        </td>
        <td class="tr">用户名：</td>
        <td>
          <input type="text" class="form-control" placeholder="请输入用户名">
        </td>
      </tr>
      <tr>
        <td class="tr">密码：</td>
        <td>
          <input type="password" class="form-control" placeholder="请输入密码">
        </td>
        <td class="tr">确认密码：</td>
        <td>
          <input type="password" class="form-control" placeholder="请再次输入密码">
        </td>
      </tr>
      <tr>
        <td class="tr">编号：</td>
        <td>
          <input type="text" class="form-control" placeholder="编号">
        </td>
        <td class="tr">姓名：</td>
        <td>
          <input type="text" class="form-control" placeholder="姓名">
        </td>
      </tr>
      <tr>
        <td class="tr">手机号：</td>
        <td>
          <input type="phone" class="form-control" placeholder="手机号">
        </td>
        <td class="tr">邮箱：</td>
        <td>
          <input type="email" class="form-control" placeholder="邮箱">
        </td>
      </tr>
      <tr>
        <td class="tr">备注：</td>
        <td colspan="3">
          <input type="text" class="form-control w500" placeholder="备注">
        </td>
      </tr>
    </tbody>
  </table>`
      });
      $(".cancel").on("click", () => {
        layer.close(layer.index);
      })
    })
    //选中删除
    $(".deleteAll").on("click", () => {
      layer.confirm('确定要删除吗？', {
        btn: ['确定', '取消'] //按钮
      }, () => {
        layer.msg('已删除', { icon: 1 });
      });
    })
    //用户资料
    $(".useName").on("click", () => {
      layer.open({
        type: 1,
        resize: false,
        fixed: false,
        maxmin: true,
        title: '用户资料',
        area: ['700px', '390px'], //宽高
        content: `<table class="table table-bordered table-vm">
    <thead></thead>
    <tbody>
      <tr>
        <td class="tr">角色：</td>
        <td>
          <input type="text" class="form-control notall" value="后台管理员" disabled>
        </td>
        <td class="tr">用户名：</td>
        <td>
          <input type="text" class="form-control notall" disabled value="admin2">
        </td>
      </tr>
      <tr>
        <td class="tr">编号：</td>
        <td>
          <input type="text" class="form-control notall" disabled value="admin2">
        </td>
        <td class="tr">姓名：</td>
        <td>
          <input type="text" class="form-control notall" disabled value="admin2">
        </td>
      </tr>
      <tr>
        <td class="tr">手机号：</td>
        <td>
          <input type="phone" class="form-control notall" disabled value="15613099294">
        </td>
        <td class="tr">邮箱：</td>
        <td>
          <input type="email" class="form-control notall" disabled value="123456@qq.com">
        </td>
      </tr>
      <tr>
        <td class="tr">备注：</td>
        <td colspan="3">
          <input type="text" class="form-control notall w500" disabled value="123">
        </td>
      </tr>
    </tbody>
  </table>`
      });
    })
    $(".edit").on("click", function () {
      let useName = $(this).parent().siblings().children(".useName").text();
      let order = $(this).parent().siblings(".order").text();
      let fullName = $(this).parent().siblings(".fullName").text();
      let email = $(this).parent().siblings(".email").text();
      layer.open({
        type: 1,
        resize: false,
        fixed: false,
        maxmin: true,
        title: '编辑',
        area: ['700px', '390px'], //宽高
        content: `<table class="table table-td-p addUser-table">
          <thead></thead>
          <tbody>
            <tr>
              <td class="tr w100">角色：</td>
              <td>
                <select class="custom-select w190">
                  <option selected>请选择角色</option>
                  <option value="后台管理员">后台管理员</option>
                </select>
              </td>
              <td class="tr w100">用户名：</td>
              <td>
                <input type="text" class="form-control ipt" placeholder="请输入用户名" value="${useName}">
              </td>
            </tr>
            <tr>
              <td class="tr w100">编号：</td>
              <td>
                <input type="text" class="form-control ipt" placeholder="请输入编号" value="${order}">
              </td>
              <td class="tr w100">邮箱：</td>
              <td>
                <input type="email" class="form-control ipt" placeholder="请输入邮箱" value="${email}">
              </td>
            </tr>
            <tr>
              <td class="tr w100">密码：</td>
              <td>
                <input type="password" class="form-control ipt" placeholder="请输入密码">
              </td>
              <td class="tr w100">确认密码：</td>
              <td>
                <input type="password" class="form-control ipt" placeholder="请再次输入密码">
              </td>
            </tr>
            <tr>
              <td class="tr w100">姓名：</td>
              <td>
                <input type="text" class="form-control ipt" placeholder="请输入姓名" value="${fullName}">
              </td>
              <td class="tr w100">手机号：</td>
              <td>
                <input type="phone" class="form-control ipt" placeholder="请输入手机号" value="15613099294">
              </td>
            </tr>
            <tr>
              <td class="tr w100">备注：</td>
              <td colspan="3">
                <input type="text" class="form-control w500" placeholder="请输入备注" value="123">
              </td>
            </tr>
            <tr>
              <td colspan="4" class="tc">
                <button type="submit" class="btn btn-info">保存</button>
                <button type="button" class="btn btn-lingt cancel ml15">取消</button>
              </td>
            </tr>
          </tbody>
        </table>`
      });
      $(".cancel").on("click", () => {
        layer.close(layer.index);
      })
    })
  </script>
</body>

</html>
